.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox>form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input {
    padding: 20px;
    display: flex;
}

.tweetBox__input>input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

#tweetBox__imageInput {
    border: none;
    padding: 10px;
}

.tweetBox__tweetButton {
    background-color: #50b7f5;
    border: none;
    color: white;
    font-weight: 900;
    text-transform: inherit;
    border-radius: 30px;
    width: 80px;
    margin-left: auto;
    height: 40px;
    margin-top: 20px;
}

.muti-preview {
    height: 100px;
    display: flex;
}

#multi-img {
    width: 100px;
    height: 50px;
}